@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;800&display=swap');
  

  *{
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
  }


  .ss{
    min-height: 550px;
    background-color: rgb(255 226 236) !important;
    
  }